/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: orange;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: purple;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: purple;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
} */



/* NEW natt5 */


* {
    box-sizing: border-box;
}

body {
    background-image: url('./assets/images/airplane.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0; 
    height: 100%; 
  }

nav {
    display: flex;
    height: 100px;
    margin-top: 20px;
    padding: 50px 50px;
}

.nav--title {
 }

.nav--icon {
    height: 420px;
    margin-top: 70px;
}

  .text-orange {
    color: orange;
  }

  .navbar {
    
  }
 
  .nav-link {
    color: purple !important;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px !important;
    margin-top: 25px;

}

  .btn-custom {
    background-color: orange !important; 
    color: purple !important; 
    border-color: orange !important;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    background-color: purple !important; 
    color: orange !important;
    border-color: purple !important;
}

.form-container {
    background-color: white;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }



